<div class="container p-4">
  <h3 class="font-weight-bold ml-4">ジャンル一覧・追加</h3>
  <div class="row m-2">
    <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><p class="font-weight-bold">ジャンル名</p></th>
          <td><%= f.text_field :genre_name %>　</td>
          <td><%= f.submit "新規登録", class:"btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="row mx-auto">
    <div class="col-auto">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.genre_name %> </td>
          <td><%= link_to "編集する",edit_admin_genre_path(genre.id), class:"btn btn-sm btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
