<div class="container p-2">
  <h3 class="m-4">配送先編集</h3>
  <div class="row m-1">
    <%= form_with model: @address, url: address_path(@address) do |f| %>
    <div class="col">
      <table>
        <tbody>
          <tr>
            <th><label for="inputPostalCode">郵便番号(ハイフンなし)　</label></th>
            <th><%= f.text_field :postal_code, autofocus: true, id:"PostalCode", placeholder:"0000000" %></th>
            <th></th>
          </tr>
          <tr>
            <th><label for="inputAddress">住所</label></th>
            <th><%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"東京都渋谷区代々木神園町0-0", size: "50" %></th>
            <th></th>
          </tr>
          <tr>
            <th><label for="inputName">宛名</label></th>
            <th><%= f.text_field :address_name, autofocus: true, id:"inputName", placeholder:"令和道子" %></th>
            <th><%= f.submit "変更内容を保存", class:"btn btn-success" %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>