<h1>注文履歴一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th><%= order.created_at.strftime('%y/%m/%d') %></th>
      <th>〒<%= order.postal_code %><br>
          <%= order.address %><br>
          <%= order.address_name %></th>
      <td><% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br>
          <% end %></td>
      <td><%= number_with_delimiter(order.pay_money, delimiter: ',') %>円</td>
      <th><%= link_to "表示する", order_path(order.id) %></th>
    </tr>
    <% end %>
  </tbody>
</table>
