<div class="container">
  <div class="row p-5">
    <div class="col-3 bg-secondary text-white">
      <p class="text-center">ジャンル検索</p>
    </div>
    <div class="col-9">
      <h2 class="font-weight-bold">商品一覧(全<%= @count.count %>件)</h2>
      <div class="row d-flex justify-content-center">
        <% @items.each do |item| %>
          <div class="item-box">
            <%= image_tag item.image, size: "180x125" %>
            <p><%= link_to item.name, item_path(item.id) %></p>
            <p>¥ <%= number_with_delimiter(item.price, delimiter: ',') %></p>
          </div>
        <% end %>
      </div>
      <div class="row d-flex justify-content-center" >
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>