<h1>商品詳細</h1>
  <div>
    <%= image_tag @item.get_image(100,100) %>
  </div>
  <div>
    <%= @item.name %>
  </div>
  <div>
    <%= @item.introduction %>
  </div>
  <div>
    ¥<%= number_with_delimiter(@item.with_tax_price.floor, delimiter: ',') %>(税込)
  </div>

<!--ログインしている場合-->
  <% if current_customer %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <div>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..10], placeholder:"個数選択" %>
    </div>
    <%= f.submit 'カートに入れる', class:"btn btn-secondary" %>
    <% end %>
  <% end %>