<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/77a69e9882.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><span>LOGO</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <div class="btn-wrapper mx-auto">
            <% if customer_signed_in? %>
            <!--顧客ログイン済みの場合-->
              <%= link_to customers_my_page_path(current_customer) do %>
                <i class="btn btn-secondary">マイページ</i>
              <% end %>
              <%= link_to items_path do %>
                <i class="btn btn-secondary">商品一覧</i>
              <% end %>
              <%= link_to cart_items_path do %>
                <i class="btn btn-secondary">カート</i>
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete do %>
                <i class="btn btn-danger">ログアウト</i>
              <% end %>
            <% elsif admin_signed_in? %>
            <!--管理者ログイン済みの場合-->
              <%= link_to admin_items_path do %>
                <i class="btn btn-secondary">商品一覧</i>
              <% end %>
              <%= link_to admin_customers_path do %>
                <i class="btn btn-secondary">会員一覧</i>
              <% end %>
              <%= link_to admin_root_path do %>
                <i class="btn btn-secondary">注文履歴一覧</i>
              <% end %>
              <%= link_to admin_genres_path do %>
                <i class="btn btn-secondary">ジャンル一覧</i>
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <i class="btn btn-danger">ログアウト</i>
              <% end %>
            <% else %>
              <!--ログインしていない場合-->
              <%= link_to about_path do %>
                <i class="btn btn-secondary">About</i>
              <% end %>
              <%= link_to items_path do %>
                <i class="btn btn-secondary">商品一覧</i>
              <% end %>
              <%= link_to new_customer_registration_path do %>
                <i class="btn btn-primary">新規登録</i>
              <% end %>
              <%= link_to new_customer_session_path do %>
                <i class="btn btn-success">ログイン</i>
              <% end %>
            <% end %>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-2 pb-5">
      <div class="containar mt-4">
        <div class="row">
          <div class="mx-auto">
            <p>made in japan</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
